<div class="user-<%=message.user.id%>" id="message-<%= message.id %>">
    <strong><%= message.user.first_name %></strong>
  <p id="message-content" class="my-2"> <span><%= message.content %></span> </p>
  <small>
    <i style="float: right;"><%= message.created_at.strftime("%e %b at %l:%M %p") %></i>
  </small>
</div>
