<div class="container my-3 text-center">
    <%= simple_form_for [listing, order] do |f| %>
      <%= f.input :pickup_time, as: :string, require: false, input_html: { data: {controller: "flatpicker"}}, label: false, placeholder: "Choose your pickup time" %>
      <div class="d-flex justify-content-between">
        <%= f.submit class: "btn btn-primary flex-grow-1", value: "Purchase" %>
        <div class="btn btn-background-transparent">
          <% if @chatroom.nil? %>
            <%= link_to user_chatrooms_path(current_user, recipient_id: listing.user.id), method: :post do %>
              <i class="far fa-comment"></i>
            <% end %>
          <% else %>
            <%= link_to chatroom_path(@chatroom) do %>
              <i class="far fa-comment"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
