<div data-controller="search" data-search-address-value="<%= params[:address] %>" class="pt-5">
  <div data-controller="toggle">
    <div class="listings-headers d-flex justify-content-between mt-2 mx-2">
      <div class="d-flex justify-content-center">
        <p> Within: </p>
        <select data-search-target="distance" data-action="change->search#fetchListings" class="dropdown-distance" style="height: fit-content; width: 42px; text-align: right">
          <option value="1">1</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20" selected>20</option>
          <option value="50">50</option>
        </select>
        <p> km </p>

        <div>
          <i class="fas fa-plus text-center"
          data-action="click->toggle#toggleTargets"></i>
        </div>
      </div>
    </div>


  <%# <p>sort by: </p> %>
  <%# <p>items per row: </p> %>
  <div data-toggle-target="hideable" hidden>
    <%= form_with url: listings_path, method: :get, html: {
      data: { action: "submit->search#fetchListings"} } do |f| %>
      <% Listing::TAGS.each do |tag| %>
        <%= f.check_box :tag_list, { multiple: true, include_hidden: false, data: {search_target: "filter"} }, tag %>
        <%= f.label :tag_list, tag %>
      <% end %>
      <%= f.submit class: "btn custom-btn", data: { search_target: "submitButton" }%>
    <% end %>
  </div>
</div>
  <%= render "results", listings: @listings %>
</div>
