<div class="container d-flex justify-content-center">
  <div class="col-10">
    <h1 class="text-center">Add an item on sale</h1>
    <%= simple_form_for @listing do |f| %>
      <%= f.input :title %>
      <%= f.input :address %>
      <%= f.input :photo, as: :file %>
      <%= f.input :tag_list, label: "Choose Product Category", :collection => ["Kids", "Decoration", "Fashion", "Miscellaneous", "Exercise", "Furniture"] %>
      <%= f.input :collection_instruction %>
      <div class="d-flex justify-content-center">
        <%= f.submit "Add new item", class: "btn custom-btn"%>
      </div>
    <% end %>
  </div>
</div>
