<div class="container text-center">
  <div class="index-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path @listing.photo.key %>)">

    <div class="top-right-icon large-heart" data-controller="favorite">
      <% if current_user.favorited?(@listing) %>
        <%= link_to favorite_listing_path(@listing, value: false), method: :patch do %>
          <i class="fas fa-heart"></i>
        <% end %>
      <% else %>
        <%= link_to favorite_listing_path(@listing, value: true), method: :patch do %>
          <i class="far fa-heart"></i>
        <% end %>
      <% end %>
    </div>
    <div class="bottom-right-icon">
      <p> <%= @listing.distance_to(session[:last_coordinates]).to_f.round(1) %> km</p>
    </div>
  </div>


  <div class="pt-3 mb-5 pb-5 border-bottom">
    <h1> <%= @listing.title.capitalize %> </h1>
    <div class="d-flex justify-content-center">
      <div class="listing-user" style="font-style: italic">
        <p> Listed <%= time_ago_in_words(@listing.created_at) %> ago </p>
        <% if @listing.user.seller_reviews.size.zero? %>
          <p class="ml-2 "> <%= @listing.user.first_name %> has no completed sales </p>
        <% else %>
          <p class="ml-2"> <%= @listing.user.first_name %>'s approval rating is <%= @listing.user.score %>%</p>
        <% end %>
      </div>
      <%#= cl_image_tag @listing.user.photo.key, class: "avatar" %>
    </div>
  </div>

  <h3 class="text-center"> Collection Instruction </h3>
  <p class="text-center"> <%= @listing.collection_instruction %> </p>

  <div style="width: 100%; height: 228px;" class="my-3"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<%= render 'listings/order_form', listing: @listing, order: @order %>

<% unless @other_listings_from_same_user.empty? %>
  <div class="container">
    <p><strong>Other items from <%= @listing.user.first_name %></strong></p>
  </div>
    <div class="seller-other-cards m-2">
      <% @other_listings_from_same_user.each do |listing| %>
        <%= link_to listing_path(listing) do %>
          <div class="seller-other-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path listing.photo.key %>)">
            <div class="top-right-icon">
              <% if current_user.favorited?(listing) %>
                <i class="fas fa-heart"></i>
              <%# <% else %>
                <%# <i class="far fa-heart"></i> %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
<% end %>
