<div class="container chatroom" data-controller="chatroom-subscription"
data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <div id="message-name"><h3> Chat with <%= @chatroom.users.where.not(id: current_user).first.first_name %> <i class="fas fa-comment"></i> </h3></div>
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
    <%= simple_form_for [@chatroom, @message],
    remote: true,
    html: {data: {action: "ajax:success->chatroom-subscription#resetForm"}, class: "d-flex chatroom-form" } do |f|
    %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn custom-btn mb-5" %>
  <% end %>
</div>
