<div class="navbar navbar-expand-sm navbar-light navbar-lewagon content-wrapper">
  <div class="container-fluid">
    <div class="nav-item navbar-dropdown dropdown">
      <% if user_signed_in? %>
        <%= cl_image_tag current_user.photo.key, class: "dropdown-toggle avatar", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Profile", "#", class: "dropdown-item" %>
          <%= link_to "Help", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      <% else %>
        <%= image_tag 'person-icon.jpg', class: "dropdown-toggle avatar", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Profile", "#", class: "dropdown-item" %>
          <%= link_to "Help", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      <% end %>

    </div>
    <div class="navbar-welcome">
      <% if user_signed_in? && params[:action] == "home" %>
        <%= "Welcome back #{current_user.first_name}"%>
      <% else %>
        <%= "Just $10" %>
      <% end %>
    </div>
    <%= image_tag "navbar_dropdown.png", size: 40 %>
    <%# <div class = "nav-item navbar-logo">
      <p>Just $10</p>
    </div> %>
    <%# <div>
    </div> %>
  </div>
</div>
