<div class="navbar navbar-expand-sm navbar-light navbar-lewagon content-wrapper">
  <div class="container-fluid">
    <div class="nav-item navbar-dropdown dropdown">
      <%= image_tag "navbar_dropdown2.png", class: "dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "Action", "#", class: "dropdown-item" %>
        <%= link_to "Another action", "#", class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
    <div class="navbar-welcome">
      <% if user_signed_in? %>
        <%= "Welcome back #{current_user.first_name}"%>
      <% else %>
        <%= "Welcome!" %>
      <% end %>
    </div>
    <%= image_tag "navbar_dropdown.png", size: 40 %>
    <%# <div class = "nav-item navbar-logo">
      <p>Just $10</p>
    </div> %>
    <%# <div>
    </div> %>
  </div>
</div>
