
<br>
<br>
<div class="container">
  <div class="index-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path @order.listing.photo.key %>)">
    <div class="top-left-icon">
      <%# <i class="fas fa-heart"></i> --> wishlist %>
      <i class="far fa-heart"></i>
    </div>
    <div class="bottom-right-icon">
      <p> <%= params[:distance].to_f.round(1) %> km</p>
    </div>
  </div>

<div class="container text-center my-2">
  <strong><h3><%= @order.listing.title %></h3></strong>
  <p> Pick up date: <%= @order.pickup_time.strftime("%l.%M%P on %A, %-d/%m/%y") %> </p>
  <p> Address: <%= @order.listing.user.address%> </p>
</div>

<div class="text-center">
  <button type="button" class="btn custom-btn my-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Complete</button>
</div>

<%# Modal %>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p class="mb-2">Thank you for using Just $10</p>

        <% if @order.review.present? %>
          <%= link_to dashboard_path do %>
            <button type="button" class="btn custom-btn" data-dismiss="modal">Go back</button>
          <% end %>
        <% else %>
          <p>Would you purchase from <%= @order.listing.user.first_name %> again? </p>
          <%= render 'reviews/new' %>
        <% end %>

      </div>
    </div>
  </div>
</div>
