<%# <%= image_tag "https://source.unsplash.com/random/80x80/?homeware=#{i}", crop: :fill, size: 80 %>
<%# test %>

<div class="scroll-left">
  <div class="inner">
    <div class="scroll-cards">
    <% i = 0 %>
      <% 6.times do |i| %>
        <div class="home-card">
          <%= image_tag "home#{i}.jpg", crop: :fill, size: 80 %>
          <% i += 1 %>
        </div>
      <% end %>
      <% j = 0 %>
        <% 4.times do |j| %>
          <div class="home-card">
            <%= image_tag "home#{j}.jpg", crop: :fill, size: 80 %>
            <% j += 1 %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="scroll-right">
  <div class="inner">
    <div class="scroll-cards">
      <% k = 5 %>
        <% 6.times do |k| %>
          <div class="home-card">
              <%= image_tag "home#{k}.jpg", crop: :fill, size: 80 %>
              <% k += 1 %>
          </div>
        <% end %>
      <% l = 5 %>
        <% 4.times do |l| %>
          <div class="home-card">
            <%= image_tag "home#{l}.jpg", crop: :fill, size: 80 %>
            <% l += 1 %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="scroll-left">
  <div class="inner">
    <div class="scroll-cards">
    <% i = 0 %>
      <% 6.times do |i| %>
        <div class="home-card">
          <%= image_tag "home#{i}.jpg", crop: :fill, size: 80 %>
          <% i += 1 %>
        </div>
      <% end %>
      <% j = 0 %>
        <% 4.times do |j| %>
          <div class="home-card">
            <%= image_tag "home#{j}.jpg", crop: :fill, size: 80 %>
            <% j += 1 %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="scroll-right">
  <div class="inner">
    <div class="scroll-cards">
      <% k = 5 %>
        <% 6.times do |k| %>
          <div class="home-card">
              <%= image_tag "home#{k}.jpg", crop: :fill, size: 80 %>
              <% k += 1 %>
          </div>
        <% end %>
      <% l = 5 %>
        <% 4.times do |l| %>
          <div class="home-card">
            <%= image_tag "home#{l}.jpg", crop: :fill, size: 80 %>
            <% l += 1 %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="scroll-left">
  <div class="inner">
    <div class="scroll-cards">
    <% m = 12 %>
      <% 6.times do |m| %>
        <div class="home-card">
          <%= image_tag "home#{m}.jpg", crop: :fill, size: 80 %>
          <% m += 1 %>
        </div>
      <% end %>
      <% n = 12 %>
        <% 4.times do |n| %>
          <div class="home-card">
            <%= image_tag "home#{n}.jpg", crop: :fill, size: 80 %>
            <% n += 1 %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="scroll-right">
  <div class="inner">
    <div class="scroll-cards">
      <% o = 18 %>
        <% 6.times do |o| %>
          <div class="home-card">
              <%= image_tag "home#{o}.jpg", crop: :fill, size: 80 %>
              <% o += 1 %>
          </div>
        <% end %>
      <% p = 18 %>
        <% 4.times do |p| %>
          <div class="home-card">
            <%= image_tag "home#{p}.jpg", crop: :fill, size: 80 %>
            <% p += 1 %>
          </div>
      <% end %>
    </div>
  </div>
</div>
