<div class="row flex-nowrap scrollable-card">
  <%# for each order, get listing and display listing %>
  <% current_user.seller_orders.accepted.each do |order| %>
    <% listing = order.listing %>
    <div class="dashboard-card ms-2 me-2" style="width: 16rem">
      <div class="card dashboard-card-img ">
        <%= cl_image_tag listing.photo.key %>
      </div>
      <div>
        <p style="font-weight: 600; margin: 0;"><%= listing.title %> </p>
        <p>Pickup time: <%= order.pickup_time.strftime("%b %e, %l:%M %p") %> </p>
        <div class="d-flex justify-content-between">
          <p>Buyer :<%= order.user.first_name %></p>
          <div class="btn btn-background-transparent shadow border border-light mb-2">
            <% if current_user.chatroom_with(order.user).nil? %>
              <%= link_to user_chatrooms_path(current_user, recipient_id: order.user.id), method: :post do %>
                <i class="far fa-comment"></i>
              <% end %>
            <% else %>
              <%= link_to chatroom_path(current_user.chatroom_with(order.user)) do %>
                <i class="far fa-comment"></i>
              <% end %>
            <% end %>
          </div>
        </div>
        <%# Message the buyer %>
      </div>
    </div>
  <% end %>
</div>
