<th scope="col">
  <div class="dashboard-card me-1 ms-1" style="width: 16rem">
    <%= link_to order_path(order.id) do %>
      <div class="card dashboard-card-img">
        <%= cl_image_tag order.listing.photo.key %>
      </div>
      <p> <%= order.listing.title %></p>
        <%= order.pickup_time.strftime("%b %e, %l:%M %p") %>
        <p>Seller: <%= order.listing.user.first_name %></p>
      <p> </p>
    <% end %>
  </div>
</th>
