<div class="row flex-nowrap scrollable-card">
  <%# for each order, get listing and display listing %>
  <tr>
  <% i = 0 %>
  <% orders.each do |order| %>
    <% if order.status == "pending" %>
      <th scope="col">
        <div class="dashboard-card me-1 ms-1" style="width: 16rem">

          <%= link_to order_path(order.id) do %>
            <div class="card dashboard-card-img">
              <%= cl_image_tag order.listing.photo.key %>
            </div>
            <div class="dashboard-card-text">
              <%= order.listing.title %>
              <p class="fst-italic">Awaiting response from <%= order.listing.user.first_name.capitalize %></p>
              <%= cl_image_tag order.listing.user.photo.key, class: "avatar" %>
            </div>
          <% end %>
        </div>
      </th>
      <% i += 1 %>
    <% end %>
  <% end %>
  <% if i.zero? %>
    <p><em>No pending offers</em></p>
  <% end %>
  </tr>
</div>
