<div class="container">
    <div class="container">
      <%= link_to my_listings_path do %>
        <%= image_tag "selling.png", height: 160, width: 280, id:"dashboard-card-1" %>
        <h4 class="px-3">See Your Items For Sale</h4>
        <p class="px-3" style="opacity: 0.7"> <%= @listings.size %> Items</p>
      <% end %>
    </div>
    <div class="container">
      <%= link_to my_orders_path do  %>
        <%= image_tag "order.png", height: 160, width: 280, id:"dashboard-card-1" %>
        <h4 class="px-3">See Your Orders</h4>
        <p class="px-3" style="opacity: 0.7"> <%= @orders.size %> Items</p>
      <% end %>
    </div>
    <div class="container">
      <%= link_to my_wishlists_path do %>
        <%= image_tag "wishlist.png", height: 160, width: 280, id:"dashboard-card-1" %>
        <h4 class="px-3">See Your Wishlist</h4>
        <p class="px-3" style="opacity: 0.7"> <%= @user_wishlist_listings.size %> Items</p>
      <% end %>
    </div>
</div>
