<div class="cards">
  <% Listing.all.each do |listing| %>
    <%# link_to listing_path(@listing) do %>
      <div class="card">
        <% if listing.photo.attached? %>
          <%= image_tag listing.photo, crop: :fill, size:100 %>
        <% else %>
          <%= image_tag "bunny.jpg", crop: :fill, size:100 %>
        <% end %>
      </div>
    <%# end %>
  <% end %>

</div>

<%= form_with url: listings_path, method: :get do |f| %>
  <div class="d-flex">
    <div data-controller="geocoder" data-geocoder-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      <%= f.text_field :address, data: { geocoder_target: "address" }, class: "d-none" %>
    </div>
    <%= f.submit 'Enter address', class: "btn btn-primary" %>
  </div>
<% end %>
